li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large; 
}

div.modal-content {
    position: absolute;
    top: 30%;
    left: 38%;
    width: 500px;
    height:auto;
    padding: 15px;
}

.custom-modal-container {
    width: 100%;
}